@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,200;0,400;0,600;0,700;0,800;1,500;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.mini-header{
    width: 100%;
  padding: 1.5rem 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.icons{
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;

}
.other{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Advent Pro', sans-serif;

    gap: 1rem;
}
.serach{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Advent Pro', sans-serif;

}
.serach input{
    outline: none;
    border: none;
    
}
.serach::placeholder{
    font-size: 17px;
    color: black;
}
.store{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 2rem 0px;
    flex-wrap: wrap;
    gap: 3rem;
}
.logo h2{
    font-family: 'Advent Pro', sans-serif;
    font-size: 45px;
}
.links{
    display: flex;
justify-content: center ;
align-items: center;
gap: 1.5rem;
list-style: none;
}
.links li{
    font-size: 18px;
    color: black;
    font-family: 'Advent Pro', sans-serif;
}