@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,200;0,400;0,600;0,700;0,800;1,500;1,600;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.mini-header{
    width: 100%;
  padding: 1.5rem 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.icons{
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;

}
.other{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Advent Pro', sans-serif;

    gap: 1rem;
}
.serach{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Advent Pro', sans-serif;

}
.serach input{
    outline: none;
    border: none;
    
}
.serach::placeholder{
    font-size: 17px;
    color: black;
}
.store{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}
.store::before{
    content: '2';
    background-color: black;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    left: 90%;
    top: -50%;

}
.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 1rem 0px;
    flex-wrap: wrap;
    gap: 3rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; /* Add your preferred background color for the sticky header */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow if desired */
}
.logo h2{
    font-family: 'Advent Pro', sans-serif;
    font-size: 45px;
}
.links{
    display: flex;
justify-content: center ;
align-items: center;
gap: 1.5rem;
list-style: none;
}
.links li{
    font-size: 18px;
    color: black;
    font-family: 'Advent Pro', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/* ----------Hero Section------------ */

.hero-container{
    background-image: url("image/main_image_bg.jpg");
    background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
    width: 100%;
    padding: 1rem 0px 3rem 0px;
    display: flex;
    justify-content: center;
 text-align: center;
}
.hero-inner{
  margin-top: 1rem;
}
.hero-inner h2{
    font-size: 160px;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    border-bottom: 1px solid white;
    padding: 0px 2rem .5rem 2rem;
}
.winter {
    color: white;
    font-size: 25px;
    margin-top: 2rem;
    font-family:  sans-serif;
    font-style: italic;

}
.images {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 0px 1rem;
}

.left {
    background-image: url("image/slide-image-1.jpg");
    width: 450px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.right {
    background-image: url("image/slide-image-2.jpg");
    width: 450px;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left-inner,
.right-inner {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left:hover .left-inner,
.right:hover .right-inner {
    background-color: rgba(0, 0, 0, 0.575);
    transition: .3s;
}

.left:hover .btn {
    padding: 2rem 0px;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 40px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    visibility: visible;
        transition: .5s;
}
.right:hover .btn {
    padding: 2rem 0px;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 40px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    visibility: visible;
        transition: .5s;
}
.btn{
    visibility: hidden;
}
/* -------Shop Section ----------- */
.shop-container{
    width: 100%;
      padding-top: 5rem;
}
.shop-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.welcome{
     font-size: 45px;
     margin-bottom: 1.5rem;
     font-family: 'Advent Pro', sans-serif;
}
.shop-text p{
    color: gray;
    font-family: 'Advent Pro', sans-serif;
}
.shop-text span{
    margin-top: 2rem;
    color:  gray;
    font-family: 'Advent Pro', sans-serif;
    font-style: italic;
}
.fashion-container{
    padding: 10rem 0px;
    text-align: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.452)), url("image/col_image_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1rem;
}
.fashion-container h2{
    font-size: 130px;
    color: white;
    border-bottom: 2px solid white;
    padding: 0px 2rem 0px 2rem;
    font-family: 'Advent Pro', sans-serif;
}
.fashion-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: column;
}
.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.circle,
.cr{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:#90b3bd;
    position: relative;
    color: white;
}

.circle-1,
.cr{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:#90b3bd;
    position: relative;
    color: white;
}
.cr:hover{
    background-color: white;
    color:#90b3bd ;

}
.cr h4{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
}
.circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.circle-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.circle::before {
    content: "T-SHIRT";
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.432);
}
.circle-1::before {
    content: "LONG COAT";
    font-family: 'Advent Pro', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    border-radius: 50%;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.432);
}

.circle:hover::before,
.circle-1:hover::before {
    opacity: 1; /* Show on hover */
}


/* ------products--------- */

.product-container{
    width: 100%;
    padding: 3rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 7rem;
}
.product-container h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Advent Pro', sans-serif;
    margin-bottom: 2rem;
    color: gray;
}
.product-item{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
   column-gap: 5rem;
   row-gap: 7rem;
}
.product{
    width: 330px;
    height: 390px;
    text-align: center;
    position: relative;
}
.product p{
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.product span{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 1rem;
}
.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product:hover::before{
 content:url("image/shopping-bag-solid-24.png") ;
    font-family: 'Advent Pro', sans-serif;
    background-color: rgba(0, 0, 0, 0.329);
    top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     float: right;
    color: white;
    transition:all .4s ease;
   
}

.campain-container{
    padding: 4rem 0px;
    width: 100%;
    background-image: url("image/image_1_img.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.campain-container h1{
    font-size: 140px;
    color: white;
    font-family: 'Advent Pro', sans-serif;
    border-bottom: 1px solid white;
    padding: 0px 2rem .5rem 2rem;
    margin-bottom: 2rem;
}
.img{
    background-image: url("image/image_1_img_small.jpg");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 800px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campain-container p{
    color: white;
    font-size: 25px;
    font-style: italic;
    margin: 3rem 0px;;
}
 
/* -------About section ---------- */
.about-hero{
    background-image:linear-gradient(rgba(0, 0, 0, 0.212),rgba(0, 0, 0, 0.219)),  url("image/section_bg01.png");
    height: 80vh;
    margin-top: 5rem;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-hero h1{
     text-transform: uppercase;
     color: white;
     font-size: 90px;
     font-family: 'Advent Pro', sans-serif;
     font-weight: 700;
     text-align: center;
}
.about-btn{
    padding: 1.2rem 3.5rem;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem 0px;
    margin: 2rem 0px;
}
.col-1 {
    width: 650px;
    height: 450px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s; /* Add transition for smooth scaling */
}

.col-img {
    width: 650px;
    height:450px;
    overflow: hidden;
    transition: transform 0.3s;
}

.col-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.281); 
    /* z-index: 1; */
}

.col-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: 2; */
}


/* Scale effect on hover */
.col-img:hover {
    transform: scale(1.1); /* Adjust the scaling factor as needed */
}
.detail{
    position: absolute;
    bottom: 30%;
    left: 5%;
}
.detail p{
    font-size: 40px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    color: white;
}
.detail-btn {
    padding: 1rem 2rem;
    background-color: black;
    color: white;
      display: inline-block;
      border-radius: 4px;
      margin-top: 1rem; 

}
/* -- --------instashop----------  */
.onea-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: rgba(245,245,245);
    padding: 5rem 0px;
}
.onea-text {
    margin-bottom: 5rem;
}
.onea-text p{
    font-size: 60px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    margin-bottom: .5rem;
}
.onea-text span{
    color: gray;
    font-size: 19px;
    font-family: 'Advent Pro', sans-serif;
}

.instaimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0;
}
.img-div{
    position: relative;
}
.img-div img{
    width: 253px;
    height: 400px;
    object-fit: cover;
}
.img-div:hover::before{
  content:  url("image/instagram-logo-24\ \(1\).png") "\A @onea";
    position: absolute;
    white-space: pre;
    background-color: rgba(27, 25, 25, 0.849);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  font-weight: 700;
  text-align: center;
  flex-direction: column;
  font-family: 'Advent Pro', sans-serif;
  transition: .3s ease;

}

.brands{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.brands img{
    width: 150px;
    height: 100px;
    object-fit: scale-down;
}


/* ----------footer--------- */
.footer-container{
    display: flex;
    justify-content: center;
    gap: 6rem;
    padding: 10rem 2rem;
    background-color: black;
    color: white;
    flex-wrap: wrap;
 
}

.footer-logo{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 1rem;
}
.footer-logo h2{
    font-size: 50px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}
.icon{
    display: flex;
    justify-content: left;
    gap: 1rem;
    font-size: 25px;
}
.ft-head{
    font-size: 25px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}
.li li{
    list-style: none;
    color: gray;
    font-family: 'Advent Pro', sans-serif;
}
.li{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 
}


@media(max-width:1350px){
    .col-1,
    .col-img {
        width: 500px;
    }
      .col-img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.281); 
        /* z-index: 1; */
    }
    
}
@media(max-width:1070px){
    .col-1,
    .col-img {
        width: 400px;
    }
      .col-img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.281); 
        /* z-index: 1; */
    }
    
}







@media(max-width:850px){
    .hero-inner h2{
        font-size: 6rem;
 /* padding: 0px 1rem .5rem 1rem; */
 padding: 0;
    }
    .fashion-container h2{
        font-size: 100px;
        color: white;
        border-bottom: 2px solid white;
        padding: 0px 2rem 0px 2rem;
        font-family: 'Advent Pro', sans-serif;
    }
    .img{
        width: 550px;
        height: 390px;
    }
}
@media(max-width:550px){
    .campain-container h1{
        font-size: 100px;
    }
    .img{
        width: 450px;
        height: 390px;
    }
}

@media(max-width:510px){
   .hero-inner h2{
        font-size: 5rem;
 /* padding: 0px 1rem .5rem 1rem; */
 padding: 0;
    }
    .left{
        width: 400px;
    }
    .right{
        width: 400px;
    }
    .fashion-container h2{
        font-size: 70px;
        color: white;
        border-bottom: 2px solid white;
        padding: 0px 2rem 0px 2rem;
        font-family: 'Advent Pro', sans-serif;
    }
    .campain-container h1{
        font-size: 100px;
    }
    .img{
        width: 400px;
        height: 390px;
    }
   
}
@media(max-width:405px){
    .mini-header{
        flex-direction: column;
        gap: 2rem;
    }
    .main-header{
        flex-direction: column;
        gap: 1rem;
    }
    .winter{
  font-size: 20px;
    }
     .hero-inner h2{
        font-size: 4rem;
 /* padding: 0px 1rem .5rem 1rem; */
 padding: 0;
    }
     .left{
        width: 340px;
    
    }
    .right{
        width: 340px;
             
    }
    .left:hover .btn {
    padding: 1.5rem 0px;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    visibility: visible;
        transition: .5s;
}
.right:hover .btn {
    padding: 1.5rem 0px;
    background-color: white;
    color: black;
    width: 100%;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    visibility: visible;
        transition: .5s;
}
.col-1,
.col-img {
    width: 350px;
}
  .col-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.281); 
    /* z-index: 1; */
}
.campain-container{
    background-position-x:15%;
}
.campain-container h1{
    font-size: 80px;
}
.img{
    width: 350px;
   
}
.campain-container p{
    font-size: 20px;
}
.img img{
     width: 50px;
}
.about-hero h1{
    font-size: 50px;
}
.about-btn{
    padding: 1rem 2rem; 
}
}

